{% extends "Base.html" %}

{% block title %}
	Bienvenido
{% endblock title %}

{% block cuerpo %}
	{% if user.is_authenticated %}
		<h1>Lo siento, no puedes hacer log in ya estando logeado!<br> Sorry {{user.username|capfirst}} :c</h1>
		<hr>
		<a class="col-sm-offset-2 btn btn-lg btn-info" href="{% url 'index:home' %}" role="button">Regresar</a>
		<a class="col-sm-offset-2 btn btn-lg btn-warning" href="{% url 'Usuarios:logout' %}" role="button">Log out</a>
	{% else %}
	<div class="row-fluid">
		<form class="form-horizontal alinear" method="POST">{% csrf_token %}
			<div class="form-group row">
				<label for="inputEmail" class="col-sm-2 form-control-label">Usuario</label>
				<div class="col-sm-3">
					<input type="text" name="username" class="form-control" id="inputEmail" placeholder="Username">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 form-control-label">Password</label>
				<div class="col-sm-3">
					<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-offset-2 col-sm-2">
					<button type="submit" class="btn btn-success">Sign in</button>
				</div>
				<div class="col-sm-offset-1 col-sm-1">
					<a class="btn btn-primary" href="{% url 'Usuarios:Registrarse' %}" role="button">Registrate</a>
				</div>
			</div>
		</form>
	</div>
	{% endif %}
{% endblock cuerpo %}