{% extends "Profile.html" %}

{% block title %}
{% if user.is_authenticated  %}
	{{user.username}}
{% else %}
	Error
{% endif %}
{% endblock title %}

{% block cuerpo %}
{% if user.is_authenticated  %}
	<div class="row">
		<div class="well well-lg col-sm-12 col-md-offset-1 col-md-5">
			<div class="panel panel-default">
		    <!-- Default panel contents -->
		        <div class="panel-heading">{{usuario.nombre | capfirst}} {{usuario.apellido | capfirst}}</div>
		    <!-- Table -->
		        <table class="table table-responsive table-striped table-bordered">
					<tr><th>Correo</th><td>{{usuario.correo}}</td></tr>
					<tr><th>Telefono</th><td> {{usuario.telefono}} </td></tr>
					<tr><th>Genero</th><td>{{usuario.genero}}</td></tr>
					<tr><th>Fecha de nacimiento</th><td>{{usuario.fecha_de_nacimiento}}</td></tr>
					<tr><th>Direccion</th><td>{{usuario.direccion}}</td></tr>
					<tr><th>Correo</th><td>{{usuario.correo}}</td></tr>
					<tr><th>Credito Disponible</th><td>{{usuario.credito_disponible}}</td></tr>
		        </table>
		    </div>
	    </div>
	    <div class="well well-sm col-sm-12 col-md-offset-1 col-md-2">
	    	<img src="{{usuario.foto.url}}" class="img-responsive" alt="Foto de perfil">
	    </div>
	    <form method="POST" action="{% url 'Usuarios:newCarrito'%}">
	    	{% csrf_token %}
	    	<input type="submit" value="." class="btn btn-sm btn-default">
	    </form>
    </div>
    <div class="row">
    	<a class="btn btn-info btn-lg col-xs-12" href="{% url 'Usuarios:Cambiar' pk=user.id%}" role="button">Editar<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
    </div>
{% else %}
<div class="page-header">
  <h1>¡Alto ahí wey! <small>No tienes permiso de estar aqui.</small></h1>
</div>
{% endif %}
{% endblock cuerpo %}