{% extends "Profile.html" %}
{%block title%}
Edit
{%endblock%}

{%block cuerpo%}
{% load bootstrap %}
    <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">Editar</h1>
			<form method="post" enctype="multipart/form-data">
	            {% csrf_token %}
	            {{ form | bootstrap }}
		        <input class="btn btn-success pull-right" type="submit" value="Submit" />
		    </form>
		</div>
	</div>
{%endblock%}