{% extends "Profile.html" %}
{%block title%}
Compra
{%endblock%}

{%block cuerpo%}
<div class="container">
<h2 class="display-3">{{detallecolor.id}}</h2>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Producto{{detallecolor.producto.nombre}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Imagen: <img src="{{detallecolor.producto.imagen.url}}" class="img-responsive" alt="{{detallecolor.producto.imagen.url}}"></li>
                <li class="list-group-item">Color: {{detallecolor.color_nombre.nombre}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
{%endblock%}