{% extends "Profile.html" %}
{%block title%}
Producto
{%endblock%}

{%block cuerpo%}
<div class="container">
<h2 class="display-3">{{producto.nombre}}</h2>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Producto #{{producto.id}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Nombre: {{producto.nombre}}</li>
                <li class="list-group-item">Imagen: <img src="{{producto.imagen.url}}" class="img-responsive" alt="{{producto.imagen.url}}"></li>
                <li class="list-group-item">Descripcion: {{producto.descripcion}}</li>
                <li class="list-group-item">Precio: {{producto.precio}}</li>
                <li class="list-group-item">Fecha de publicacion: {{producto.fecha_de_publicacion}}</li>
                <li class="list-group-item">Disponibles: {{producto.disponibles}}</li>
                <li class="list-group-item">Categoria: {{producto.categoria.nombre}}</li>
                <li class="list-group-item">Colores: 
                {% for col in colores %}
                    {{col.color_nombre}},
                {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{%endblock%}