{% extends "Profile.html" %}
{%block title%}
Compra
{%endblock%}

{%block cuerpo%}
<div class="container">
<h2 class="display-3">{{compra.id}}</h2>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Compra #{{compra.id}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Nombre: {{compra.producto.nombre}}</li>
                <li class="list-group-item">Imagen: <img src="{{compra.producto.imagen.url}}" class="img-responsive" alt="{{compra.producto.imagen.url}}"></li>
                <li class="list-group-item">Precio: {{compra.producto.precio}}</li>
                <li class="list-group-item">Cantidad: {{compra.cantidad}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
{%endblock%}