{% extends "Profile.html" %}
{%block title%}
Seguro
{%endblock%}

{%block cuerpo%}
<form method="post">{% csrf_token %}
    ¿Estás seguro que deseas borrar esta compra "{{ object }}"?
    <br>
    <input class="btn btn-danger" type="submit" value="Borrar" />
</form>
{%endblock%}