<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fase 3">
    <meta name="author" content="Manugr21">
    <link rel="icon" href="{% static 'img/iconito.png' %}">

    <title>{%block title%} {% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- My CSS 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-yw4l{vertical-align:top}
    </style>
  </head>
  <body>
    <div class="container">
    <div role="navegation">
      <nav class="navbar navbar-inverse navbar-light bg-faded navbar-fixed-top">
        <a class="navbar-brand" href="{% url 'Admin:home' pk=1 %}">Publishes and sells</a>
        {% if user.is_superuser %}
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Admin:list'%}">Usuarios<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Admin:home' pk=1 %}">Portada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Admin:reportes' pk=1 %}">Reportes</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#">Holi<span class="sr-only">(current)</span></a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index:home'%}">Log Out</a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="nav-item">
            <a class="nav-link" href="#">.</a>
          </li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Productos:list'%}">Dinero<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Usuarios:Perfil' pk=1 %}">Informacion valiosa</a>
          </li>
        </ul>
        {%endif%}
      </nav>
    </div>
  
  {%block cuerpo%}
  {%endblock%}
  </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>