<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fase 3">
    <meta name="author" content="Manugr21">
    <link rel="icon" href="{% static 'img/iconito.png' %}">

    <title>{%block title%} {% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- My CSS 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    
  </head>
  <body>
    {% if user.is_authenticated %}
    <div role="navegation">
      <nav class="navbar-inverse bg-faded navbar-light navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index:home' %}">Publishes and sells</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav list-group pull-right">
              <li><p class="navbar-text">Logeado como <a href="{% url 'Usuarios:Perfil' pk=user.id %}" class="navbar-link">{{user.username}}</a></p></li>
              <li role="separator" class="divider"></li>
              <li><a class="btn btn-danger" href="{% url 'Usuarios:logout' %}" role="button">LogOut</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    {% else %}
    <div role="navegation">
      <nav class="navbar-default navbar-inverse bg-faded navbar-light navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index:home' %}">Publishes and sells</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav list-group pull-right">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Usuarios:login' %}">Log In <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Admin:home' pk=1 %}">Admin <span class="sr-only">(current)</span></a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Usuarios:Registrarse' %}">Registrarse</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    {% endif %} 
  {%block cuerpo%}
  {%endblock%}
  <!--</div>-->
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>