<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fase 3">
    <meta name="author" content="Manugr21">
    <link rel="icon" href="{% static 'img/iconito.png' %}">

    <title>No pos guau</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- My CSS 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    
  </head>
  <body>
    {% if user.is_authenticated %}
    <div role="navegation">
      <nav class=" navbar-inverse bg-faded navbar-light navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index:home' %}">Publishes and sells</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'Usuarios:Perfil' pk=user.id %}">Perfil <span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="{% url 'Admin:home' pk=1 %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'Categorias:list' %}">Categorias</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'Productos:list' %}">Productos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'Comentarios:list' %}">Comentarios</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav list-group pull-right">
              <li><p class="navbar-text">Carrito</p></li><!--<a href="{ url 'Carrito:list' %}"></a></li>-->
              <li><p class="navbar-text">Logeado como <a href="{% url 'Usuarios:Perfil' pk=user.id %}" class="navbar-link">{{user.username}}</a></p></li>
              <li role="separator" class="divider"></li>
              <li><a class="btn btn-danger" href="{% url 'Usuarios:logout' %}" role="button">LogOut</a></li>
            </ul>
            <form class="navbar-form" method="GET">
              <div class="form-group">
                <input type="text" name="busqueda" placeholder="Buscar" class="form-control" value="{{request.GET.busqueda}}">
                <select name="categoria" class="form-control">
                  <option value="!">Todas</option>
                  {% for cat in categorias %}
                    {% if request.GET.categoria == categoria.id %}
                      <option value="{{cat.id}}" selected>{{cat.nombre}}</option>
                    {% else %}
                      <option value="{{cat.id}}">{{cat.nombre}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" value="Buscar" class="btn form-control btn-info">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    {% else %}
    <div role="navegation">
      <nav class="navbar-default navbar-inverse bg-faded navbar-light navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index:home' %}">Publishes and sells</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav list-group pull-right">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Usuarios:login' %}">Log In <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Admin:home' pk=1 %}">Admin <span class="sr-only">(current)</span></a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Usuarios:Registrarse' %}">Registrarse</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    {% endif %} 
  <div class="row">
    <div class="col-xs-10 col-sm-5 col-md-2 col-lg-3">
      <div class="list-group">
        {% for sub in subcategorias %}
          <a align="center" class="list-group-item list-group-item-action" href="?subcategoria={{sub.id}}&categoria={{request.GET.categoria}}&search={{request.GET.search}}">{{sub.nombre}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
      <hr>
      {% for prod in productos %}
        {% if forloop.counter|divisibleby:3 %}<div class="row">{% endif %}<!--3 por row-->
        <div class="col-sm-2 col-md-offset-1 col-md-3 col-lg-3"><!--le doy tamaño cool-->
          <div class="media">
            <div class="media-left"><!--pongo la imagen a la izq -->
              <a href="{% url 'Compras:new' cantidad=prod.id %}">
                <img class="media-object" src="{{prod.imagen.url}}" alt="{{prod.nombre}}">
              </a>
            </div>
            <div class="media-body"><!--Titulo y descriopcion-->
              <h4 class="media-heading">{{prod.nombre}}</h4>
              {{prod.descripcion}}
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><hr>{% endif %} <!--Cierro el row de arriba-->
      {% endfor %}
    </div>
  </div>
  <!--</div>-->
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>