{% extends "Profile.html" %}
{%block title%}
Categoria
{%endblock%}

{%block cuerpo%}
<div class="container">
<h2 class="display-3">{{categoria.nombre}}</h2>
<div class="row well">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Categoria #{{categoria.id}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Nombre: {{categoria.nombre}}</li>
                <li class="list-group-item">Descripcion: {{categoria.descripcion}}</li>
                <li class="list-group-item">Padre: {{categoria.categoria}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
{%endblock%}