{% extends "Profile.html" %}
{%block title%}
Categorias
{%endblock%}

{%block cuerpo%}

<h2 class="display-3">Categorias</h2>
 <br>
<div class="row">
<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-7 col-md-offset-6 col-md-5 col-lg-offset-9 col-lg-3">
<a class="btn btn-success" href="{%  url 'Categorias:new' %}" role="button">Nueva <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
</div>
</div>
<br>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <table class="tg table table-bordered table-responsive">
            <tr>
                <th class="tg-baqh">ID</th>
                <th class="tg-baqh">Nombre</th>
                <th class="tg-baqh">Ver</th>
                <th class="tg-baqh">Editar</th>
                <th class="tg-baqh">Eliminar</th>
            </tr>
            {% for categoria in object_list %}
            <tr>
                <td>{{categoria.id}}</td>
                <td>{{categoria.nombre}}</td>
                <td><a href="{% url "Categorias:detail" categoria.id %}" class="btn btn-info">Ver</a></td>
                <td><a href="{% url "Categorias:edit" categoria.id %}" class="btn btn-warning">Editar</a></td>
                <td><a href="{% url "Categorias:delete" categoria.id %}" class="btn btn-danger">Borrar</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr>
{% if page_obj.has_previous %}
        <a href="{% url 'Categorias:list' %}?page={{ page_obj.previous_page_number }}">
        Ir a página {{ page_obj.previous_page_number }}
        </a>
{% endif %}
        <p class="text-center">La página actual es {{ page_obj.number }} </p>
{% if page_obj.has_next %}
        <a href="{% url 'Categorias:list' %}?page={{ page_obj.next_page_number }}">
        Ir a página {{ page_obj.next_page_number }}
        </a>
{% endif %}
{%endblock%}