{% extends "Profile.html" %}
{%block title%}
Comentario
{%endblock%}

{%block cuerpo%}
<div class="container">
<h2 class="display-3">{{comentario.id}}</h2>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Titulo{{comentario.titulo}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">fecha: {{comentario.fecha}}</li>
                <li class="list-group-item">Imagen: <img src="{{comentario.compra.producto.imagen.url}}" class="img-responsive" alt="{{comentario.compra.producto.imagen.url}}"></li>
                <li class="list-group-item">Ponderacion: {{comentario.ponderacion}}</li>
                <li class="list-group-item">Cuerpo: {{comentario.cuerpo}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
{%endblock%}