{% extends "Profile.html" %}
{%block title%}
Nuevo
{%endblock%}

{%block cuerpo%}
{% load bootstrap %}
{% load bootstrap %}
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Nuevo Comentario</h1>
		<form method="POST">{% csrf_token %}
			{{ form | bootstrap}}
            <input class="btn btn-success" type="submit" value="Submit" />
		</form>
	</div>
</div>
{%endblock%}