{% extends "Admin.html" %}
{% block title %}
	Reporte
{% endblock title %}

{% block cuerpo %}
{% if user.is_superuser %}
	<div class="row">
		<a href="{% url 'Reportes:productosDisponibles_pdf' {{request.GET.cantidad}} %}" class="form-control btn col-xs-12">Descargar pdf</a>
	</div>
	<hr>
	<div class="row">
		<table class="table table-bordered table-responsive table-striped">
			<tr>
				<th>#</th>
				<th>Producto</th>
				<th>Img</th>
			</tr>
			{% for prod in productos %}
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td>{{prod.nombre}}</td>
					<td><img src="{{prodimagen.url}}" class="img-responsive" alt="#"></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	{% else %}
		<h1>Pagina solo para el mero mero</h1>
	{%endif%}
{% endblock cuerpo %}