{% extends "Admin.html" %}
{% block title %}
	Reporte
{% endblock title %}

{% block cuerpo %}
{% if user.is_superuser %}
	<div class="row">
		<a href="{% url 'Reportes:topVendedores_pdf' %}" class="form-control btn col-xs-12">Descargar pdf</a>
	</div>
	<hr>
	<div class="row">
		<table class="table table-bordered table-responsive table-striped">
			<tr>
				<th>#</th>
				<th>Usuario</th>
				<th>Puntuacion</th>
			</tr>
			{% for prod in usuarios %}
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td>{{prod.usuario__nombre}}-</td>
					<td>{{prod.usu_count}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	{% else %}
		<h1>Pagina solo para el mero mero</h1>
	{%endif%}
{% endblock cuerpo %}