{% extends "Admin.html" %}
{% block title %}
	Reportes
{% endblock title %}

{% block cuerpo %}
	{% if user.is_superuser %}
	{% load bootstrap %}
        <div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-3">Reportes y estadisticas</h1>
				<hr>
				<div class="row">
					<form class="form-inline" action="{% url 'Reportes:helpdeskMacho'%}" method="GET">
					{% csrf_token %}
						<div class="form-group">
							<label for="year">Helpdesks macho</label>
							<input type="Number" class="form-control" id="year" placeholder="Año" >
						</div>
						<button type="submit" class="btn btn-primary">buscar</button>
					</form>
				</div>
				<hr>
				<div class="row">
					<form class="form-inline" action="{% url 'Reportes:administradoras' %}" method="GET">
					{% csrf_token %}
						<div class="form-group">
							<label for="admin">Administradoras</label>
							<input type="Number" class="form-control" id="year" placeholder="Año" >
						</div>
						<button type="submit" class="btn btn-primary">buscar</button>
					</form>
				</div>
				<hr>
				<div class="row">
					<form class="form-inline" action="{% url 'Reportes:productosDisponibles' %}" method="GET">
					{% csrf_token %}
						<div class="form-group">
							<label for="cantidad">Productos disponibles</label>
							<input type="Number" class="form-control" id="cantidad" placeholder="Disponibles">
						</div>
						<button type="submit" class="btn btn-info">buscar</button>
					</form>
				</div>
				<hr>
				<div class="list-group">
					<a href="{% url 'Reportes:helpdeskProm'%}" class="list-group-item">Helpdesks y su promedio</a>
					<a href="{% url 'Reportes:fichudos'%}" class="list-group-item">Clientes con mas ganancias</a>
					<a href="{% url 'Reportes:productosProm'%}" class="list-group-item">Productos y su promedio</a>
					<a href="{% url 'Reportes:topProductos'%}" class="list-group-item">Top 3 de productos mas vendidos</a>
					<a href="{% url 'Reportes:topVendedores'%}" class="list-group-item">Top 3 de clientes con mas productos</a>
					<a href="{% url 'Reportes:productosListado'%}" class="list-group-item">Lista de productos</a>
					<!--<a href="{ url 'Reportes:productosComentados'%}" class="list-group-item">Lista de productos comentados</a>-->
				</div>
			</div>
		</div>
	{% else %}
		<h1>Pagina solo para el mero mero</h1><br>
		<p>Casi lo logras pero no</p>
	{%endif%}
{% endblock cuerpo %}