{% extends "Admin.html" %}
{%block title%}
Otro Cerote mas
{%endblock%}

{%block cuerpo%}
{% if user.is_superuser %}
{% load bootstrap %}
    <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">Nuevo Usuario</h1>
			<form method="post" enctype="multipart/form-data">
	            {% csrf_token %}
	            {{ form | bootstrap }}
		        <input class="btn btn-success pull-right" type="submit" value="Submit" />
		    </form>
		</div>
	</div>
	{% else %}
	<h1>Pagina solo para el mero mero</h1>
	{%endif%}
{%endblock%}