{% extends "Admin.html" %}
{%block title%}
Usuarios
{%endblock%}

{%block cuerpo%}
{% if user.is_superuser %}
<h2 class="display-3">Usuarios</h2>
<hr>
<div class="row">
    <a class="btn btn-success" href="{% url 'Admin:new' %}" role="button">Usuario <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <table class="table tg table-bordered table-responsive">
            <tr>
                <th class="tg-baqh">ID</th>
                <th class="tg-yw4l">Nombre</th>
                <th class="tg-yw4l">Ver</th>
                <th class="tg-yw4l">Editar</th>
                <th class="tg-yw4l">Eliminar</th>
            </tr>
            {% for usuario in object_list %}
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.nombre}}</td>
                <td><a href="{% url "Admin:detail" usuario.id %}" class="btn btn-info">Ver</a></td>
                <td><a href="{% url "Admin:edit" usuario.id %}" class="btn btn-warning">Editar</a></td>
                <td><a href="{% url "Admin:delete" usuario.id %}" class="btn btn-danger">Borrar</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
    {% else %}
        <h1>Pagina solo para el mero mero</h1>
    {%endif%}
{%endblock%}