{% extends "Admin.html" %}
{%block title%}
Perfil
{%endblock%}

{%block cuerpo%}
{% if user.is_superuser %}
<div class="container">
<h2 class="display-3">{{usuario.nombre}}</h2>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-lg-offset-1 col-lg-10">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Usuario #{{usuario.id}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Nombre: {{usuario.nombre}}</li>
                <li class="list-group-item">Apellido: {{usuario.apellido}}</li>
                <li class="list-group-item">Email: {{usuario.coreo}},{{usuario.magia.email}}</li>
                <li class="list-group-item">Telefono: {{usuario.telefono}}</li>
                <li class="list-group-item">Foto: <img src="{{usuario.foto.url}}" class="img-responsive" alt="{{usuario.foto}}"></li>
                <li class="list-group-item">Telefono: {{usuario.telefono}}</li>
                <li class="list-group-item">Genero: {{usuario.genero}}</li>
                <li class="list-group-item">Fecha de nacimiento: {{usuario.fecha_de_nacimiento}}</li>
                <li class="list-group-item">Fecha de registro: {{usuario.fecha_de_registro}}</li>
                <li class="list-group-item">Direccion: {{usuario.direccion}}</li>
                <li class="list-group-item">Credito disponible: {{usuario.credito_disponible}}</li>
                <li class="list-group-item">Ganancia: {{usuario.ganancia_obtenida}}</li>
                <li class="list-group-item">Clase de Cliente: {{usuario.clase_cliente}}</li>
                <li class="list-group-item">rol: {{usuario.rol.nombre}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
    {% else %}
        <h1>Pagina solo para el mero mero</h1>
    {%endif%}
{%endblock%}