{% extends "Admin.html" %}
{%block title%}
Seguro
{%endblock%}

{%block cuerpo%}
{% if user.is_superuser %}
<form method="post">{% csrf_token %}
    ¿Estás seguro que deseas borrar al usuario "{{ object }}"?
    <br>
    <input class="btn btn-danger" type="submit" value="Submit" />
</form>
	{% else %}
		<h1>Pagina solo para el mero mero</h1>
	{%endif%}
{%endblock%}