{% extends "Base.html" %}

{% block title %}
Publishers and Sells
{% endblock title %}

{% block cuerpo %}
	<div class="row">
		<div class="col-sm-offset-1 col-sm-2 col-lg-offset-0 col-lg-3">
			<img src="{{portada.logo.url}}" class="img-responsive" alt="Logo de la empresa">
		</div>
		<div class="col-sm-offset-3 col-sm-5 col-lg-offset-1 col-lg-7">
			<h2 class="display-3">{{portada.nombre}}</h2>
		</div>
		<div class="col-sm-offset-1 col-lg-3">
			<p>{{portada.eslogan}}</p>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid">
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="{{portada.video.url}}"></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-1 col-sm-3">
			<h3>Mision</h3><br/>
			<p>{{portada.mision}}</p>
		</div>
		<div class="col-sm-offset-1 col-sm-3">
			<h3>Vision</h3><br/>
			<p>{{portada.vision}}</p>
		</div>
	</div>
	<hr>
	<footer>
		<p class="text-center">
			{{portada.about_me}}
		</p>
	</footer>
{% endblock cuerpo %}